<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="it.exolab.mapper.PresenzaMapper">
    
  <insert id="add" parameterType="it.exolab.model.Presenza"
    useGeneratedKeys="true"
    keyProperty="id_presenza"
    keyColumn="id_presenza" 
   >
    INSERT INTO presenze (data, motivazione_assenza_fk, id_dipendente_fk, mese_fk, ore_lavorate, ore_assenza)
    VALUES (#{data}, #{motivazione_assenza_fk}, #{id_dipendente_fk.id_dipendente}, #{mese_fk.id_mese}, #{ore_lavorate}, #{ore_assenza})
    </insert>
    
   
   
    </mapper>